<%= render 'shared/page_title', title: "Chef Listing" %>

<!-- <%# @chefs.each do |chef| %>
  <div class="row">
    <div class="col-md-2">
      <section class="chef_info center">
        <%#= gravatar_for(chef.email, size: 50) %>
      </section>
    </div>

  </div>
<%# end %> -->

<table class = "table mytable-1">
  <tr>
    <th>Icon </th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% @chefs.each do |chef| %>
    <tr>
      <td><%= gravatar_for(chef, size: 50) %></td>
      <td><%= link_to chef.name, chef_path(chef) %></td>
      <td><%= chef.email %></td>
    </tr>
  <% end %>
