@import "bootstrap";


.container-wide {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  //text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #f4fc05;
  text-decoration: none;
}

.navbar-custom {
  background-color: #073815;
  color:white;
}

.jumbotron {
  background-image: asset-url('6.jpg');
  background-size:cover;
}

.btn-mybtn1 {
  background-color: #073815;
  color: #fff;
  border-color: #073815;
}
.btn-mybtn1:hover {
  background-color: #f4fc05;
  color: black;
}
.btn-mybtn1:focus {
  background-color: #073815;
  color: #f4fc05;
  border-color: #073815;
}
.myFooter {
  background-color: #073815;
  color: #fff;
  border-color: #073815;
}
.container {
  margin-left: 100px;
}
.well-half {
  width:45%;
  height: auto;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 2px solid #073815;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.well-half a {
  color: #073B15;
}
.well-full {
  width:95%;
  height: auto;
  // min-height: 20px;
  padding: 19px;
  // margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 2px solid #073815;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.well-full a {
  color: #073B15;
}
.well a {
  color: #073B15;
}
.well-80 {
  width:80%;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 2px solid #073815;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.well-80 a {
  color: #073B15;
}
.chef_info {
  margin-top: 10px;
}

.description {
  margin-top: 0;
}
.colormatch a {
  color: #073B15;
}

.recipe-actions { // This places the block of action buttons
  width: 100%;
  margin-left: 50px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.text-align-1 {
  margin-left: 30px;
}
.mytable-90 {
  width: 90%;
  color: #073B15;
  margin-left: 40px;
  padding: 8px;
  line-height: 2.0;
  vertical-align: top;
  border-top: 1px solid #ddd;
  a {
    text-decoration: underline;
    color: #073B15;
  }
}

.mytable-50 {
  width: 50%;
  color: #073B15;
  //margin-left: 400px;
  margin-left: 25%;
  padding: 8px;
  line-height: 2.5;
  vertical-align: top;
  border-top: 1px solid #ddd;
  a {
    color: #073B15;
    text-decoration: underline;
  }
}
.center {
  text-align: center;
  margin-top: 0px;
}
.my-dropdown-menu {
  background-color: #8ddda4;
}
.nav-text {
  text-align: center;
  padding-top: 15px;
}
.input_checkbox input {
  width: auto !important;
}
.message-row {
  line-height: 1;
  margin-right: -15px;
  margin-left: -15px;
}
.message-row:before,
.message-row:after {
  display: table;
  content: " ";
}
.message-row:after {
  clear: both;
}
.mycol-md-offset-1 {
  margin-left: 4.16666665%;
  margin-left: 4.16666665%;
}
.myLink {
  text-decoration-style: solid;
  text-decoration: none !important
  a {
    color: #073B15;
  }
}
