@import "bootstrap";


.container-wide {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  //text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #f4fc05;
  text-decoration: none;
}

.navbar-custom {
  background-color: #073815;
  color:white;
}

.jumbotron {
  background-image: asset-url('6.jpg');
  background-size:cover;
}

.btn-mybtn1 {
  background-color: #073815;
  color: #fff;
  border-color: #073815;
}
.btn-mybtn1:hover {
  background-color: #f4fc05;
  color:black;
}
.myFooter {
  background-color: #073815;
  color: #fff;
  border-color: #073815;
}
.container {
  margin-left: 100px;
}
.well a {
  color: #073B15;
}
.chef_info {
  margin-top: 10px;
}

.description {
  margin-top: 0;
}
.colormatch a {
  color: #073B15;
}

.recipe-actions {
  padding-top: 5px;
  a {
    color: #000;
  }
}
.text-align-1 {
  margin-left: 30px;
}
.mytable-1 {
  width: 1000px;
  color: #073B15;
  margin-left: 20px;
  padding: 8px;
  line-height: 2.5;
  vertical-align: top;
  border-top: 1px solid #ddd
  // a {
  //   color: #073B15;
  //   a:hover {
  //     text-decoration: none;
  //   }
  // }

}

.center {
  text-align: center;
  margin-top: 0px;
}
.my-dropdown-menu {
  background-color: #8ddda4;
}
